//.navbar.navbar-default.navbar-fixed-top
.navbar.navbar-default(style="margin-bottom: 0; border-top-width: 0;")
  .container
    .navbar-header
      div.pull-left(style="padding-top: 9px; padding-left: 9px; padding-bottom: 9px;")
      a.navbar-brand(href="/" style="padding-top: 23px; padding-left: 25px;") WebSocket / Long Poll Demo
